{%load static%}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Préstamos | Adelantos en efectivo | Moni | Argentina</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Préstamos | Adelantos en efectivo | Moni | Argentina" />
	<meta name="keywords" content="prestamos, adelantos en efectivo, moni, argentina" />

    <!-- Facebook Sharing -->
    <meta
      property="og:title"
      content="Préstamos | Adelantos en efectivo | Moni | Argentina"
    />
    <meta
      property="og:description"
      content="Préstamos al instante. Pedime hasta $ 65.000 pesos y te deposito en el momento. Sin colas ni trámites. Completá la solicitud online."
    />
    <meta
      property="og:image"
      content="https://www.moni.com.ar/static/img/share/moni-preview-1200x630.png"
    />
    <meta property="og:url" content="https://moni.com.ar" />
    <meta property="og:type" content="product" />
    <meta property="fb:app_id" content="312822328800672" />

	<!-- Favicons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'img/favicons/apple-touch-icon.png'%}"
    />
    <link
      rel="icon"
      type="image/png"
      href="{% static 'img/favicons/favicon-32x32.png'%}"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="{% static 'img/favicons/favicon-16x16.png'%}"
      sizes="16x16"
    />
    <link
      rel="mask-icon"
      href="{% static 'img/favicons/safari-pinned-tab.svg'%}"
      color="#5bbad5"
    />

	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/animate.css'%}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css'%}">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="{% static 'css/simple-line-icons.css'%}">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">

	<link rel="stylesheet" href="{% static 'css/style.css'%}">


	<!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js'%}"></script>

	</head>
	<body>
	{%block body%}
	{%endblock%}
	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js'%}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js'%}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js'%}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js'%}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static 'js/jquery.stellar.min.js'%}"></script>
	<!-- Counter -->
	<script src="{% static 'js/jquery.countTo.js'%}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
	<script src="{% static 'js/magnific-popup-options.js'%}"></script>

	<!-- Main JS (Do not remove) -->
    <script src="{% static 'js/main.js'%}"></script>
  {%block javascript%}
  {%endblock%}
	</body>
</html>
