{%extends 'base.html'%}
{%load static %}

{%block body%}
<header role="banner" id="fh5co-header">
    <div class="container">
        <!-- <div class="row"> -->
        <nav class="navbar navbar-default">
        <div class="navbar-header">
            <!-- Mobile Toggle Menu Button -->
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
         <a class="navbar-brand" href="index.html">
             <img src="{% static 'img/moni-logo-primary_black.svg'%}" alt="Moni" width="80">
            </a> 
        </div>
        <div  class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="text-dark" href="{% url 'users:logout' %}" >Cerrar Sesion</a></li>

      </ul>
        </div>
        </nav>
      <!-- </div> -->
  </div>
</header>
<section>
    <div class="container">
        {%block content%}
        {%endblock%}
    </div>
</section>

{%endblock%}